{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %} 






    Category:
        <a href="{% url 'index' %}">All</a>
        <p>
    {% for category in categories %}
  
    <a href="{% url 'index' %}?category={{category.CategoryName}}">{{category.CategoryName}}</a> 
</p>
{% endfor  %}  
{% for photo in photos %}
<img src="{{photo.ProductImage.url}}" alt="ddd" srcset="">
{% endfor %}
<div class="Container">




{% for product in products %}
{{product.ProductName}}
{{product.ProductPrice}}
{% endfor  %}</div>
<h1>Hello</h1>

{% endblock %}